*{
    background-color: gray;
}
h1{
    text-align: center;
    text-decoration: underline;      
}
.container{
    background-color: black;
    width: 100%;
    text-align: center;
    text-decoration: underline; 
}





